@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Phantom Sans', sans-serif;
    text-align: center;
    /*background-color: ;*/
}

.icon{
    height: 1.5rem;
    margin-bottom: -0.2rem;
}

input{
    all: revert;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    height: 2rem;
    width: 5rem;
    font-size: 1.3rem;
    text-align: right;
}

button{
    background-color: #8492a6;
    color: white;
    font-family: "Phantom Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    border: none;
    margin-top: 1rem;
    transition: background-color 0.15s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: #566171;
}