@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
    format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
    format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
    format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Phantom Sans', sans-serif;
    text-align: center;
    background-size: cover;
    color: #ef6489;
    height: 100%;
    background: linear-gradient(37deg, rgba(255, 247, 205, 1) 0%, rgba(253, 195, 161, 1) 100%) no-repeat center center fixed;
}

.icon{
    height: 1.5rem;
    margin-bottom: -0.2rem;
    margin-left: 0.5rem
}

input{
    all: revert;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    height: 2rem;
    width: 3rem;
    font-size: 1.3rem;
    background-color: #FDC3A1;
    padding: 0.3rem 0.2rem;
    margin-right: 0.3rem;
    border-radius: 0.6rem;
    text-align: center;

}

button{
    background-color: #F57799;
    color: white;
    font-family: "Phantom Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    border: none;
    margin-top: 1rem;
    transition: background-color 0.15s ease-in-out;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #566171;
}

h1{
    margin-top: 3rem;
}

h2{
    color: #566171;
    font-size: 1.2rem;
}

canvas{
    margin-bottom: 1rem;
}

div{
    border: 4px dashed #FB9B8F;
    width: 20%;
    border-radius: 1rem;
    margin: 1.5rem auto 1.5rem auto;
    padding: 0.5rem 0 0 0;
    background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}